.BtnContainer{
    background-color: darkslategray;
    border: 1px solid white;
}
.Button{
    transition: background-color 0.8s;
    image-rendering: pixelated;
    width:64px;
    height:64px;
    background-color: gray;
    margin: 10px;
    cursor: pointer;
}
.Button:hover{
    image-rendering: pixelated;
    background-color: rgb(168, 164, 137);
}
.Preview{
    background-color: darkslategray;
    padding: 32px;
    margin: 32px;
    cursor: none;
}

.CellListContainer{
    background-color: darkslategray;
    padding: 32px;
    margin: 32px;
}

