
.Body{
    position: absolute;
    width:64px;
    height:64px;
    left: 0%;
    top: 50%;
}
.Color{
    position: absolute;
    width:64px;
    height:64px;
    left: 0%;
    top: 50%;
}
.Face{
    position: absolute;
    width:32px;
    height:32px;
    left: 0%;
    top: 50%;

}
.CellLabel{
    position: relative;
    background-color: bisque;
    padding: 0 0 0 64px;
    width:100%;
    
}
.CellBox{
    position: relative;
    margin: 1px;
    padding: 32px;
    background-color: beige;
    border: 3px solid burlywood;
}

.CustCell{
    display: flex;
    position: relative;
    transform: translate(-100,10);
    background-color: dimgrey;
    border: 5px solid cadetblue;
    margin: 16px;
    padding: 16px 32px;
    width: 62%;
}