
.CellLabel{
    position: relative;
    background-color: bisque;
    padding: 0 0 0 64px;
    width:100%;
    
}
.CellBox{
    position: relative;
    margin: 1px;
    padding: 32px;
    background-color: beige;
    border: 3px solid burlywood;
}

.CustCell{
    display: flex;
    transition: border-radius 0.5s, background-color 0.5s;
    
    position: relative;
    transform: translate(-100,10);
    background-color: dimgrey;
    border: solid cadetblue;
    border-radius: 5px 5px 5px 5px;
    padding: 16px 32px;
    margin: 16px 0px;
    width: 62%;
    cursor: pointer;
}
.CustCell:hover{
    border-radius: 50px 5px 5px 5px;
    background-color: rgb(163, 150, 133);
}